.carousel {
  min-width: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  border: 2px solid var(--header-color);
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(212, 212, 212);
  z-index: 0;
}

.previous, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--header-color-transparent);
}

.previous {
  left: 10px;
}

.next {
  right: 10px;
}

.product {
  max-width: 400px;
  min-height: 300px;
  max-height: 300px;
  object-fit: contain;
}

@media (max-width: 700px) {
  .carousel {
    max-width: 300px;
    min-width: 300px;
  }

  .product {
    max-width: 300px;
    min-height: 200px;
    max-height: 200px;
  }
}