.productContainer {
  display: flex;
  justify-content: center;
}

.productPage {
  width: 1000px;
  margin-top: var(--header-size);
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 2fr 1fr;
}