.shoppingCart {
  margin-top: var(--header-size);
  padding: 20px 50px 20px 50px;
}

.empty {
  text-align: center;
  font-size: 2rem;
}

.pageTitle {
  margin-bottom: 20px;
  font-size: 3rem;
}

.product, .beginning, .end {
  display: flex;
}

.beginning {
  gap: 20px;
}

.end {
  min-width: 200px;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.product {
  justify-content: space-between;
  border-top: 1px solid var(--header-color);
  padding: 10px 0 10px 0;
}

.product:last-of-type {
  border-bottom: 1px solid var(--header-color);
}

.image {
  width: 100px;
  height: 120px;
  object-fit: contain;
}

.amount {
  text-align: center;
  width: 50px;
  height: 25px;
}

.delete {
  background-color: var(--header-color);
}

.total {
  justify-self: end;
  padding-right: 60px;
  font-size: 1.5rem;
}

@media (max-width: 700px) {
  .pageTitle {
    text-align: center;
  }

  .shoppingCart {
    padding-right: 20px;
    padding-left: 20px;
    margin-top: calc(var(--header-size)*1.75);
  }
   
  .product {
    flex-direction: column;
  }

  .beginning {
    justify-content: start;
  }

  .end {
    justify-content: end;
  }

  .title {
    font-size: 1rem;
  }
}